
<section class="page center">
	<ul class="pagination justify-content-center">
		<li class="page-item"><a href="#" class="page-link">처음</a></li>
		<li class="page-item"><a href="#" class="page-link">&lt;</a></li>
		<li class="page-item"><a href="#" class="page-link">1</a></li>
		<li class="page-item active"><a href="#" class="page-link">2</a></li>
		<li class="page-item"><a href="#" class="page-link">3</a></li>
		<li class="page-item"><a href="#" class="page-link">&gt;</a></li>
		<li class="page-item"><a href="#" class="page-link">끝</a></li>
	</ul>
</section>
